<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>

  	<% include ./partials/nav %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% include ./partials/footer %>

  </body>
</html>
