@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  height: 100%;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans';
  position: relative;
  min-height: 100%;
}
/* https://codepen.io/cbracco/pen/zekgx */
#footer {
  background-color: #282828;
  color: #FFFFFF;
  width: 100vw;
  height: calc(30vh);
  padding: 5vw;
  position: absolute;
  bottom: 0;
  margin-bottom: calc(-30vh);
}
.img-responsive {
  margin: auto;
}